body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
* {
    font-family: 'Roboto', Tahoma, Arial;
}
.page {
    min-width: 320px;
}
.page:after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both
}
.page__colleft,
.page__colright {
    padding: 0;
}
.colleft {
    position: relative;
    z-index: 2;
}
.logo {
    height: 383px;
}
.logo__plus {
    font-size: 88px;
    line-height: 66px;
    position: relative;
    top: 5px;
}
.logo__text {
    position: relative;
    z-index: 4;
    color: #fff;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px 37px;
    box-sizing: border-box
}
.logo__bg {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 383px;
    background: #00544E;
    transform: skewY(-12deg);
    transform-origin: top left;
}
.menuleft {
    padding: 0;
    background: none !important;
}
.menuleft__list {
    width: 100%;
    margin: 40px 17px 0 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.menuleft__item {
    padding: 35px 20px;
    font-size: 24px;
}
.menuleft__link {
    color: #555;
    text-decoration: none;
}
.menuleft__link:hover {
    color: #ff0000;
    transition: 0.5s all;
}
.colleft__contact {
    background: #1F0000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.colleft__contact:hover {
    background: #333;
    transition: 0.5s;
}
.contact__link {
    display: block;
    padding: 30px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-decoration: none
}
.colright__banner {
    position: relative;
    z-index: 1;
    background: url('../img/banner_main.jpg') no-repeat center top;
    background-size: cover;
    height: 843px;
}
.banner:after {
    background: transparent;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner__header {
    position: relative;
    z-index: 1;
    float: right;
    text-align: right;
    font-size: 48px;
    color: #fff;
    padding: 35px 17px;
    font-weight: 200;
}
.banner__bottom {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 42px;
    text-align: center
}
.banner__text {
    margin: 0 0 22px;
    color: #fff;
    font-size: 48px;
    font-weight: 200;
}
.banner__btn {
    background: #008BFF;
    color: #fff;
    padding: 8px 28px;
    font-size: 26px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
    outline: none
}
.banner__comment {
    color: #fff;
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
    margin: 17px 0 10px;
}
.banner__readmorelink {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}
.speakers {
    padding: 15px 30px;
    border-left: 1px solid #6AACA8;
}
.speakers__title {
    margin: 0 0 20px;
}
.speaker__img {
    max-width: 100%;
}
.speaker__name {
    padding: 8px 0;
    font-size: 24px;
    position: relative;
}
.speaker__name:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:30%;
    background: #00544E;
    content: '';
    height: 3px;
}
.speaker__position {
    padding: 5px 0;
    font-size: 16px;
    color: #00544E
}
.speakers__regblock {
    position: relative;
    text-align: center;
}
.speakers__regtext {
    display: block;
    margin: 15px 0 0;
    font-size: 36px;
    font-weight: 800;
}
.speakers__regbtn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center
}
.speakers__reginput {
    background: #008BFF;
    color: #fff;
    padding: 9px 40px;
    font-size: 16px;
    font-weight: 200;
    border: 0;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1279px) {
    .logo__text {
        font-size: 48px;
    }
}

@media (max-width: 1919px) {
    .speaker__name {
        font-size: 20px;
    }
}

@media (max-width: 1199px) {
    .speakers__regblock {
        width: 100%;
    }
    .speakers__regbtn {
        position: static;
        margin: 20px 0 0;
    }
    .speakers__regtext br {
        display: none
    }
}

@media (max-width: 991px) {
    .logo__plus {
        font-size: 48px;
        position: relative;
        top: 4px;
    }
    .logo__text {
        font-size: 34px;
    }
    .contact__link {
        font-size: 26px
    }
    .speakers__item {
        padding-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .menuleft__mobileblock {
        display: none
    }
}

@media (max-width: 767px) {
    .logo {
        height: auto
    }
    .logo__bg {
        display: none;
    }
    .logo__plus {
        font-size: 46px;
        line-height: 46px;
    }
    .logo__text {
        padding: 20px;
        background: #00544E;
    }
    .colleft__contact {
        position: fixed;
    }
    .contact__link {
        padding: 15px;
        font-size: 14px;
        font-weight: 400
    }
    .menuleft {
        padding: 20px;
        background: #00544E !important;
    }
    .menuleft__mobileblock {
        display: block;
        padding: 20px;
        color: #fff;
        font-size: 28px;
        text-transform: uppercase;
        position: relative
    }
    .menuleft__mobiletext {
        color: #fff;
        font-size: 22px;
    }
    .menuleft__mobilebtn {
        position: absolute;
        border: none;
        right: 15px;
        top: 20px;
        width: 40px;
        height: 40px;
        content: '';
        display: block;
        background: url('../img/icons/icon_menuleft__mobileblock.png') 0 0 no-repeat transparent;
        outline: none;
    }
    .menuleft__mobilebtn:active,
    .menuleft__mobilebtn:hover,
    .menuleft__mobilebtn:focus {
        outline: none;
    }
    .menuleft__list {
        margin: 10px 0;
        text-align: left
    }
    .menuleft__item {
        margin: 0;
        padding: 0;
    }
    .menuleft__link {
        font-size: 16px;
        padding: 0;
        color: #fff
    }
    .speakers__regblock {
        padding: 0 0 70px;
    }
}